.TitleScreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
}

.TitleScreen_text {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 48px;
  color: #7fc2ff;
  text-align: center;
  margin-top: 30px;
}


.TitleScreen .KeyboardMenu {
  position: relative;
  width: 100px;
  margin: 0 auto;
  background: transparent;
  border: 0;
}

.TitleScreen button {
  background-color: #7fc2ff;
  color: #3A160D;
  font-size: 12px;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Pixelify Sans", sans-serif; 
  justify-content: center;
  text-align: center;
}

.TitleScreen .DescriptionBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background: transparent;
  color: #fff;
  border: 0;
  text-align: center;
}
